*{
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #282828;
    font-weight: 500;
}

*:before, 
*:after{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

/* Container 
================= */
.container{
    width: 100%;
    max-width: 1170px;
    /* padding: 0 15px; */
    margin: 0 auto;
}

/* Header
================= */
.header{
    width: 100%;
    height: 100vh;
    background: url('img/header-bg.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;

}

.header__inner{
    width: 100%;
    max-width: 810px;
    padding: 80px  55px;
    margin: 0 auto;
    text-align: center;
}

.header__title{
    font-size: 60px;
    font-weight: 100;
    line-height: 1.25;
    letter-spacing: 40;
}

.header__subtitle{
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
}


/* Btn
================= */
.btn{
    display: block;
    margin: 0 auto;
    padding: 15px 50px;
    border-radius: 3px;
    border: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    background-color: #ff6d6d;
    cursor: pointer;
}

.btn__play{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #8286a3;
    border: none;
    outline: none;
    margin: 40px auto;
    display: block;
    cursor: pointer;
}

.btn__play .fa-play{
    color: #fff;
    text-align: center;
    line-height: 60px;
}

/* Section
================= */
.section{
    background: url('img/section-bg.png') no-repeat right top;
}

.section__inner{
    display: flex;
    flex-wrap: wrap;
    padding: 140px 0;
}

.section__item{
    flex: 1 1 0;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__suptitle{
    text-transform: uppercase;
    color: #ff6d6d;
    font-weight: 500;
    letter-spacing: 5px;
}

.section__title{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.25;
    margin: 15px 0;
}

.section__title span{
    color: #ff6d6d;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 8px;
    line-height: 1.25;
}

.section__icon{
    height: 67px;
    width: 67px;
    margin: 0 auto;
}

.section__text{
    margin: 20px 0;
    font-weight: 500;
    color: #717171;
}

.section__item-title{
    font-size: 22px;
    margin-top: 35px;
}

/* features */
.section.features{
    background: url('img/features-bg.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 140px 0;
}

.section__inner.features{
    padding: 85px 0 55px;
}

/* description */
.section.description{
    background: url('img/description-bg.png') no-repeat left top;
}

/* browser */
.section.browser{
    background-image: none;
    background-color: #f6f5f3;
    text-align: center;
}

.section__browser-image{
    margin: 0 auto;
    display: block;
}

.section__inner.browser{
    width: 100%;
    max-width: 780px;
    padding: 85px 25px 80px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Clients
================= */
.clients{
    background: url('img/clients-bg.jpg') no-repeat center;
    background-size: cover;
    padding: 80px 0;
}

.clients__inner{
    display: flex;
    
}

.clients__item{
    flex: 1 1 0;
    text-align: center;
    padding: 20px 30px;
}

.clients__image{
    border: 2px solid #000;
}

.clients__title{
    color: #fff;
    font-weight: 500;
    font-size: 22px;
}

.clients__subtitle{
    margin-top: 5px;
    margin-bottom: 30px;
    color: #ff6d6d;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;

}

.clients__text{
    font-size: 16px;
    color: #fff;
    opacity: .66;
    font-style: italic;
    line-height: 1.625;

}

.clients__logo{
    margin: 50px auto 0;
    display: block;
}





